<p id="notice"><%= notice %></p>

<h2 class="todo_list_title"><%= @todo_list.titulli %></h2>
<p class="todo_list_sub_title"><%= @todo_list.pershkrimi %></p>

<div id="todo_items_wrapper">
	<%= render @todo_list.todo_items %>
	<div id="form">
		<%= render "todo_items/form" %>
	</div>
</div>

<div class="links">
	<%= link_to 'Modifiko', edit_todo_list_path(@todo_list) %> |
	<%= link_to 'Fshi', todo_list_path(@todo_list), method: :delete, data: { confirm: "A jeni i sigurte?" }
 %> |
  <%= link_to 'Kthehu', todo_lists_path %>
</div>

